.product-details-and-picture{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.product-image{
    height: 300px;
    width: auto;
}

.back-icon-image{
    height: 32px;
    width: 32px;
}

#product-price{
    font-weight: bold;
}

@media (max-width: 578px){
 
    .product-details-and-picture{
        display: flex;
        flex-direction: column-reverse;
    }

    .product-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 100%;
        height: auto;
    }

}